body {
    font-family: 'Lobster', cursive;
    margin: 0;
    padding: 0;
    background-color: #f5deb3; 
    color: #8b4513;
}

header {
    background-color: orangered;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border: 3px black;
}
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    background-color: bisque;
    padding: 10px;
    font-weight: bolder ;
    border: 3px solid black;
    
   
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #8b4513; 
    font-weight: bold;
    
}

.kep {
    background-image: url(../3.kaja_kremleves_naggya/Képernyőkép\ 2024-10-05\ 140326.png);
    color: #fff;
    padding: 50px 20px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.kep h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    background-color: #f5deb3; 
    color: #8b4513;
}

.kep-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
}

main {
    padding: 20px;
}

h2 {
    color: black; 
}

.ingredients-lista, ol {
    list-style-type: none;
    padding: 0;
}

.ingredients-lista li {
    background-color: #f5deb3; 
    color: #333;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.ingredients-lista .icon {
    margin-right: 10px;
}

.recipe > li {
    background-color: #f5deb3;
}

ol li {
    background-color: #f5deb3; 
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

footer {
    background-color: orangered; 
    color: black;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    align-items: center;
}

th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid orangered;
}

th {
    background-color: orange;
}

.allergens {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.allergens li {
    margin: 5px 0;
    padding: 5px;
    background-color: orange;
    color: #fff;
}
h2{
    background-color: orangered;
}
ol li {
    background-color: orange; 
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .hero-image {
        max-width: 800px;
    }
}