body {
    font-family: 'Lobster', cursive; 
    background-color: #fad02c; /* Bézs háttér */
    
}
h1 {
    text-align: center;
    color: #333;
    font-size: 3rem;
    font-family: 'Lobster', cursive; /* Egy díszes betűtípus */
    background-color: #A52A2A;
}

.burger-image {
    position: relative;
    width: 70%;
    height: 100vh; 
    background-image: url(Képernyőkép\ 2024-09-24\ 202955.png);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.ingredients-list {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.ingredients-list li:nth-child(odd) {
    background-color: #D2B48C; /* Világosabb barna */
}

.ingredients-list li:nth-child(even) {
    background-color: #A52A2A; /* Sötétbarna */
    color: white;
}